fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
alembic
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pydantic[email]
pydantic-settings
python-dotenv
python-slugify
aiofiles
